@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Student form</h2>
<form action="Store" method="post">
    <div class="form-group">
        <label>Roll Number</label>
        <input type="text" class="form-control" name="RollNumber">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Name</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="Name">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

